@model CookBook.ViewModels.ReceitaCreateViewModel

@{
    ViewData["Title"] = "Criar Receita";
}

<h1>Create</h1>

<h4>Receita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoPreparoMinutos" class="control-label"></label>
                <input asp-for="TempoPreparoMinutos" class="form-control" />
                <span asp-validation-for="TempoPreparoMinutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucoes" class="control-label"></label>
                <input asp-for="Instrucoes" class="form-control" />
                <span asp-validation-for="Instrucoes" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Ingredientes Necessários</label>
                <div class="border p-3" style="max-height: 200px; overflow-y: auto;">
                    @foreach (var item in Model.IngredientesDisponiveis)
                    {
                        <div class="form-check">
                            @* O 'name="IngredientesSelecionadosIds"' é crucial! 
                                O MVC automaticamente mapeia todos os valores selecionados 
                                para a lista IngredientesSelecionadosIds no ViewModel.
                            *@
                            <input class="form-check-input" type="checkbox" name="IngredientesSelecionadosIds" value="@item.Value" id="ingrediente_@item.Value">
                            <label class="form-check-label" for="ingrediente_@item.Value">
                                @item.Text
                            </label>
                        </div>
                    }
                </div>
                <span asp-validation-for="IngredientesSelecionadosIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemArquivo" class="control-label"></label>
                <input asp-for="ImagemArquivo" type="file" class="form-control" />
                <span asp-validation-for="ImagemArquivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
